body{
 background-color: white;

}

#pop_up_accueil{
    background-color: black;
    width:20vw;
    height: 40vh;
    position: absolute;
    top:30vh;
    left: 40vw;
    z-index: 1001;
}

#spécialité1{
    position: absolute;
    top:20%;
    left:20%;
    background-color: black;
    color:white;
    width: 20%;
}

#spécialité2{
    position: absolute;
    top:20%;
    right:20%;
    background-color: black;
    color:white;
    width: 20%;
}

#Tes_Spé{
    text-align: center;
    position: absolute;
    top:5%;
    right:50%;
    background-color: black;
    color:white;
    width: 100%;
    transform: translate(50%,0%);

}

#Note_1{
    background-color: black;
    position: absolute;
    top:40%;
    left:20%;
    width:20%;
    color:white;
}

#Note_2{
    background-color: black;
    position: absolute;
    top:40%;
    right:20%;
    width:20%;
    color:white;
}

#Valider_note{
    position: absolute;
    top:60%;
    right:50%;
    background-color: black;
    color:white;
    width: 50%;
    transform: translate(50%,0%);

}

#Passer{
    position: absolute;
    bottom:10%;
    right:50%;
    background-color: black;
    color:white;
    width: 50%;
    transform: translate(50%,0%);

}

#Tes_Notes{
    text-align: center;
    position: absolute;
    top:30%;
    right:50%;
    background-color: black;
    color:white;
    width: 100%;
    transform: translate(50%,0%);


}